flask
flask-cors
flask-limiter
flask-migrate
python-dotenv
sqlalchemy
psycopg2-binary
redis==4.6.0
rq==1.16.1
async-timeout>=4.0.2
click>=5
requests
beautifulsoup4
trafilatura
python-json-logger
email-validator
bcrypt
PyJWT 